
<form id="quickForm">
    <input id="model-id" type="hidden" name="Id" class="form-control" value="0" />
    <div class="form-group">
        <label for="ProjectId" class="control-label">Project</label>
        <select id="ProjectId" name="Id" class="form-control" placeholder="Select Project" ></select>
    </div>
    <div class="form-group">
        <label for="UserId" class="control-label">User</label>
        <select id="UserId" name="Id" class="form-control" placeholder="Select User" ></select>
    </div>
    <div class="form-group">
        <label for="Description" class="control-label">Description</label>
        <input name="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label for="CreationDate" class="control-label">CreationDate</label>
        <input id="CreationDate" name="CreationDate" class="form-control" />
    </div>
   
</form>