@model string
<div class="modal fade" id="modal-form">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <p class="modal-title">Form</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="validation-summary" class="text-danger"></div>
                <partial name="@Model"/>
            </div>
            <div class="modal-footer justify-content-between">
                <button id="btn-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <div>
                    <a id="btn-save" type="button" class="btn btn-primary">Save</a>
                    <a id="btn-savenclose" type="button" class="btn btn-primary">Save and Close</a>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript" src="~/js/common/modalForm.js" asp-append-version="true"></script>